ADMIN_EMAILS=
DATABASE_URL=
DEFAULT_TENANT_ID=
FIREBASE_PROJECT_ID=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=
GOOGLE_SLIDES_TEMPLATE_ID=
OFFICIAL_GMAIL_ACCOUNT=
POSTGRES_URL=
RESEND_API_KEY=
SALES_NOTIFY_EMAIL=
SQL_ADMIN_PASSWORD=
SQL_ADMIN_USER=
SQL_DB_NAME=
SQL_HOST=
SQL_PASSWORD=
SQL_USER=
VITE_ADMIN_EMAILS=
VITE_RECAPTCHA_ENTERPRISE_SITE_KEY=